<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>



<p>
    Splurty was built by <a target="_blank" href="http://github.com/MarcoMorawec">Anindita</a>
  </p>
  <br />
  <p> 
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Anindita Palit</h2>
      <br />
      <p>
        Marco Morawec is a web developer and user experience product manager. He consulted Fortune 500 companies like P&G and John Deere, won Boston's biggest Hackathon (<a target="_blank" href="http://www.angelhack.com/">Angelhack</a>) and most recently led the user experience for <a target="_blank" href="https://www.peertransfer.com/">peerTransfer</a>, building a $500M/year international tuition payment platform. In an earlier life, he travelled around the world on <a target="_blank" href="http://25dollartravel.com">$25/day</a> for       </p>
    </div>
  </div>
  <br class="row"/>

<div class="row">
<div class="col-12 col-sm-4" style="padding-top:30px;">
<%= image_tag 'anindita.png', class: 'img-fluid' %>
	<h2 class="text-center">Anindita Palit</h2>
<br />
<p>
Tihis is a paragraph about me</p>
</div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
~
~


